
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Made In Japan</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/sweetalert2.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Xem sản phẩm">
      <i class="mdi mdi-chevron-up"></i>
    </div>
    <div class="modal quickview fade product-modal-1 show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Chi tiết sản phẩm</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="modal-img">
                  <div class="main-image">
                    <img class="img-main" src="../img/p-6.jpg"/>
                  </div>
                  <div class="xzoom-thumbs">
                    <div class="owl-carousel xzoom-carousel owl-theme">
                      <div class="item">
                        <img src="../img/p-6.jpg"/>
                      </div>
                      <div class="item">
                        <img src="../img/p-1.jpg"/>
                      </div>
                      <div class="item">
                        <img src="../img/p-2.jpg"/>
                      </div>
                      <div class="item">
                        <img src="../img/p-3.jpg"/>
                      </div>
                      <div class="item">
                        <img src="../img/p-4.jpg"/>
                      </div>
                      <div class="item">
                        <img src="../img/p-5.jpg"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="quickview-detail">
                  <h3>Walnut</h3>
                  <h4 class="price-product">
                    1.543.000 đ
                    <span>1.929.000 đ </span>
                  </h4>
                  <h5>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</h5>
                  <div class="quickview-detail-1">
                    <div class="quantity">
                      <span>Số lượng: </span>
                      <input type="number" value="1" min="1"/>
                    </div>
                    <div class="size">
                      <span>Size:</span>
                      <select>   
                        <option value="">S</option>
                        <option value=""> M</option>
                        <option value=""> L</option>
                        <option value=""> XL</option>
                      </select>
                    </div>
                  </div>
                  <div class="quickview-detail-3">
                    <span>Thông tin đặt hàng:</span>
                    <input type="text" placeholder="Họ tên"/>
                    <input type="text" placeholder="Email"/>
                    <input type="text" placeholder="Số điện thoại"/>
                    <input type="text" placeholder="Địa chỉ nhận hàng"/>
                  </div>
                  <button class="order-submit">Đặt hàng ngay</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-light" type="button" data-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung 2</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung 3</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung 4</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung 5</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung 6</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung 7</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung 8</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung 9</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <div class="box-noti">
      <img src="../img/feedback-1.png"/>
      <div class="box-noti-detail">
        <h5>Anh Nguyễn Quán Chung 10</h5>
        <h6>Đã mua sản phẩm cách đây 5 phút  </h6>
      </div>
      <i class="mdi mdi-close"></i>
    </div>

    <header>
      <img src="../img/logo.png"/>
      <div class="menu">
        <ul>
          <li><a href="#our-product">Bí quyết</a></li>
          <li><a href="#why">Tại sao nên chọn?</a></li>
          <li><a href="#product">Sản phẩm</a></li>
          <li><a href="#order">Liên hệ đặt mua</a></li>
          <li><a href="#feedback">Feedback</a></li>
        </ul>
      </div>
    </header>
    <article>
      <section class="slider">
        <div class="owl-carousel slider-carousel owl-theme">
          <div class="item">
            <img src="./../img/bg.jpg"/>
          </div>
          <div class="item">
            <img src="./../img/bg-2.jpg"/>
          </div>
        </div>
        <div class="slider-text">
          <h1 style="font-weight: 300">This is</h1>
          <h1 style="font-weight: 500">
            Cloud 9 All day
          </h1>
          <h4 style="font-weight: 500">
            Comfortable   |   Fashionable   |   Adaptable
          </h4>
          <h4 style="font-weight: 300">
            Thoải Mái  |  Thời Thượng  |  Thích Nghi
          </h4>
        </div>
      </section>
      <section class="our-product" id="our-product">
        <div class="container">
          <div class="title-page">
            <h2>
              Bí Quyết
              <span>gì đó</span>
            </h2>
          </div>
          <div class="owl-carousel our-product-carousel owl-theme">
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img">
                  <img src="../img/our-product-1.png"/>
                </div>
                <div class="box-our-product-detail">
                  <div class="box-our-product-title">
                    <h1 class="mb-3">insole</h1>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img">
                  <img src="../img/our-product-1.png"/>
                </div>
                <div class="box-our-product-detail">
                  <div class="box-our-product-title">
                    <h1 class="mb-3">insole</h1>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img">
                  <img src="../img/our-product-1.png"/>
                </div>
                <div class="box-our-product-detail">
                  <div class="box-our-product-title">
                    <h1 class="mb-3">insole</h1>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img">
                  <img src="../img/our-product-1.png"/>
                </div>
                <div class="box-our-product-detail">
                  <div class="box-our-product-title">
                    <h1 class="mb-3">insole</h1>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-our-product">
                <div class="box-our-product-img">
                  <img src="../img/our-product-1.png"/>
                </div>
                <div class="box-our-product-detail">
                  <div class="box-our-product-title">
                    <h1 class="mb-3">insole</h1>
                  </div>
                  <div class="box-our-product-detail-desc">
                    <p>Thiết kế hình học thông minh ôm dáng chân tạo cảm giác thoải mái, vững chãi trong quá trình di chuyển.</p>
                    <p>Kết hợp hai loại chất liệu vụn gỗ cùng EVA giúp tăng cường khả năng thấm hút, tạo sự khô thoáng cho giày. Bề mặt insole được phủ bằng vải với hệ thống lưới cùng độ ma sát vừa phải giúp tạo độ bám cho bàn chân.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="why" id="why">
        <div class="left">
          <div class="left-child">
            <h1>INNOVATION FOR a GENTLEMEN on THE go</h1>
            <h2>CẢI TIẾN VƯỢT TRỘI,</h2>
            <h2>BẮT KỊP PHONG CÁCH THÀNH CÔNG</h2>
            <h4>Cảm nhận sự thoải mái nhờ công nghệ đột phá, giữ vững tinh thần trang trọng qua từng đường nét thủ công, hoàn thiện vẻ ngoài đa phong cách.</h4>
          </div>
        </div>
        <div class="right">
          <img src="../img/image-2.png"/>
        </div>
      </section>
      <section class="product" id="product">
        <div class="container">
          <div class="title-page">
            <h1>Sản phẩm</h1>
          </div>
          <div class="product-zone">
            <div class="box-product">
              <div class="box-product-img">
                <img src="https://i.pinimg.com/564x/9a/37/84/9a3784b3909fabe1d29cc0bf37a9b68d.jpg"/>
              </div>
              <div class="box-product-detail">
                <h3>Walnut</h3>
                <h4>
                  <span>1.929.000 đ</span>
                  1.543.000 đ
                </h4>
              </div>
              <div class="box-product-order">
                <a data-toggle="modal" data-target=".product-modal-1">
                  Mua ngay
                  <i class="mdi mdi-shopping"></i>
                </a>
              </div>
            </div>

            <div class="box-product">
              <div class="box-product-img">
                <img src="../img/p-6.jpg"/>
              </div>
              <div class="box-product-detail">
                <h3>Walnut</h3>
                <h4>
                  <span>1.929.000 đ</span>
                  1.543.000 đ
                </h4>
              </div>
              <div class="box-product-order">
                <a data-toggle="modal" data-target=".product-modal-1">
                  Mua ngay
                  <i class="mdi mdi-shopping"></i>
                </a>
              </div>
            </div>

            <div class="box-product">
              <div class="box-product-img">
                <img src="../img/p-6.jpg"/>
              </div>
              <div class="box-product-detail">
                <h3>Walnut</h3>
                <h4>
                  <span>1.929.000 đ</span>
                  1.543.000 đ
                </h4>
              </div>
              <div class="box-product-order">
                <a data-toggle="modal" data-target=".product-modal-1">
                  Mua ngay
                  <i class="mdi mdi-shopping"></i>
                </a>
              </div>
            </div>

            <div class="box-product">
              <div class="box-product-img">
                <img src="../img/p-6.jpg"/>
              </div>
              <div class="box-product-detail">
                <h3>Walnut</h3>
                <h4>
                  <span>1.929.000 đ</span>
                  1.543.000 đ
                </h4>
              </div>
              <div class="box-product-order">
                <a data-toggle="modal" data-target=".product-modal-1">
                  Mua ngay
                  <i class="mdi mdi-shopping"></i>
                </a>
              </div>
            </div>

            <div class="box-product">
              <div class="box-product-img">
                <img src="../img/p-6.jpg"/>
              </div>
              <div class="box-product-detail">
                <h3>Walnut</h3>
                <h4>
                  <span>1.929.000 đ</span>
                  1.543.000 đ
                </h4>
              </div>
              <div class="box-product-order">
                <a data-toggle="modal" data-target=".product-modal-1">
                  Mua ngay
                  <i class="mdi mdi-shopping"></i>
                </a>
              </div>
            </div>

            <div class="box-product">
              <div class="box-product-img">
                <img src="../img/p-6.jpg"/>
              </div>
              <div class="box-product-detail">
                <h3>Walnut</h3>
                <h4>
                  <span>1.929.000 đ</span>
                  1.543.000 đ
                </h4>
              </div>
              <div class="box-product-order">
                <a data-toggle="modal" data-target=".product-modal-1">
                  Mua ngay
                  <i class="mdi mdi-shopping"></i>
                </a>
              </div>
            </div>

            <div class="box-product">
              <div class="box-product-img">
                <img src="../img/p-6.jpg"/>
              </div>
              <div class="box-product-detail">
                <h3>Walnut</h3>
                <h4>
                  <span>1.929.000 đ</span>
                  1.543.000 đ
                </h4>
              </div>
              <div class="box-product-order">
                <a data-toggle="modal" data-target=".product-modal-1">
                  Mua ngay
                  <i class="mdi mdi-shopping"></i>
                </a>
              </div>
            </div>

            <div class="box-product">
              <div class="box-product-img">
                <img src="../img/p-6.jpg"/>
              </div>
              <div class="box-product-detail">
                <h3>Walnut</h3>
                <h4>
                  <span>1.929.000 đ</span>
                  1.543.000 đ
                </h4>
              </div>
              <div class="box-product-order">
                <a data-toggle="modal" data-target=".product-modal-1">
                  Mua ngay
                  <i class="mdi mdi-shopping"></i>
                </a>
              </div>
            </div>

            <div class="box-product">
              <div class="box-product-img">
                <img src="../img/p-6.jpg"/>
              </div>
              <div class="box-product-detail">
                <h3>Walnut</h3>
                <h4>
                  <span>1.929.000 đ</span>
                  1.543.000 đ
                </h4>
              </div>
              <div class="box-product-order">
                <a data-toggle="modal" data-target=".product-modal-1">
                  Mua ngay
                  <i class="mdi mdi-shopping"></i>
                </a>
              </div>
            </div>

          </div>
        </div>
      </section>
      <section class="order" id="order">
        <div class="container">
          <div class="title">
            <h2>Liên hệ với chúng tôi</h2>
            <h5>Nếu bạn muốn đặt mua gì đó</h5>
          </div>
          <form action="">
            <input type="text" placeholder="Họ tên"/>
            <input type="text" placeholder="Số điện thoại"/>
            <input type="email" placeholder="Email"/>
            <input type="text" placeholder="Sản phẩm"/>
            <select>
              <option value="">Chọn size</option>
              <option value="">S</option>
              <option value="">M</option>
              <option value="">L</option>
              <option value="">XL</option>
            </select>
            <input type="text" placeholder="Địa chỉ nhận hàng"/>
            <textarea type="text" placeholder="Ghi chú"></textarea>
            <button type="submit">Gửi liên hệ</button>
          </form>
        </div>
      </section>
      <section class="feedback our-product" id="feedback">
        <div class="container">
          <div class="title-page">
            <h2> 
              <span>Đánh giá</span>
              Khách hàng
            </h2>
          </div>
          <div class="owl-carousel our-product-carousel owl-theme">
            <div class="item">
              <div class="box-feedback">
                <div class="box-feedback-img">
                  <img src="../img/feedback-1.png"/>
                </div>
                <div class="box-feedback-detail">
                  <h1>Shark Hưng</h1>
                  <h4>Lorem ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Mollis nunc sed id semper. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Quis varius quam quisque id diam vel. </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-feedback">
                <div class="box-feedback-img">
                  <img src="../img/feedback-1.png"/>
                </div>
                <div class="box-feedback-detail">
                  <h1>Shark Hưng</h1>
                  <h4>Lorem ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Mollis nunc sed id semper. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Quis varius quam quisque id diam vel. </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box-feedback">
                <div class="box-feedback-img">
                  <img src="../img/feedback-1.png"/>
                </div>
                <div class="box-feedback-detail">
                  <h1>Shark Hưng</h1>
                  <h4>Lorem ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Mollis nunc sed id semper. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Quis varius quam quisque id diam vel. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <footer>
      <section class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="store">
                <h4>Hệ thống cửa hàng ShoeX</h4>
                <p>Store 1:</p>
                <h5>56 Lê Thánh Tôn, Quận 1, TP.HCM</h5>
                <p>Store 2:</p>
                <h5>119 Lê Văn Sỹ, Quận Phú Nhuận, TP.HCM</h5>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="hotline">
                <p>hotline</p>
                <h5>+84 90 39 48 984 </h5>
                <h5>(DM/WhatsApp/Viber/Zalo)</h5>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <img src="../img/logo.png"/>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.zoom.min.js"></script>
    <script src="../js/sweetalert2.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>